@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --white: #fff;
  --light: #f9fafb;
  --dark: #2f2831;
  --dark-hover: #1f1821;
  --mid: #eaeef2;
  --light-blue: #00B3CC;
  --gradient-blue: hsla(151.9, 100%, 49.4%, 0.85);
  --gradient-green: hsl(196.8, 77.8%, 47.6%);
  --gradient-overlay-blue: hsl(166, 68.8%, 42.7%);
  --gradient-overlay-green: hsla(202.5, 76.7%, 47.1%, 0.74);
  --gradient: linear-gradient(var(--gradient-blue), var(--gradient-green));
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--light);
  font-family: -apple-system, 'Rubik', BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

header, footer {
  display: block;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0 1px 4px rgba(0,0,0,.06);
  font-size: 1.1rem;
  padding: 1.75em 0;
  position: relative;
  z-index: 10;
}

footer {
  box-shadow: 2px 0 4px 1px rgba(0,0,0,.06);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

nav span {
  color: #66c1e1;
}

nav a {
  text-decoration: none;
  margin: 0 5em;
  color: rgb(10, 109, 109);
}

nav a:not(:first-child):hover {
  color: #66c1e1;
}

nav a:first-child {
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.65em 0;
}

.gradient {
  background: linear-gradient(350deg, #D6FF7F 0%, #00B3CC 100%);
  color: #5CD4AC;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.title h2 {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 2px;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #111827;
		color: var(--white);
    margin: 0;
	}

  header {
    background: #1f2e4d;
  }
}
