---
import Tour from '../components/Tour.astro'
---

<html>
  <body>
    <h1>Hello, World!</h1>
		<Tour />
  </body>
</html>

<style lang='css||scss'>
  body{
    h1{
      color:orange;
    }
  }
</style>

<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>