---
import MetaTags from 'src/components/MetaTags.astro'
import Nav from 'src/components/Nav.astro'
import FullHero from 'src/components/FullHero.astro'
import Cards from 'src/components/Cards.astro'
import Stack from 'src/components/Stack.astro'
import More from 'src/components/More.astro'
import Footer from 'src/components/Footer.astro'
---
<html lang='es'>
  <head>
    <MetaTags title='Felipe to Dev' description='Felipe Ossandon - Frontend Developer' />
  </head>
  <body>
    <Nav />
    <FullHero />
    <Cards />
    <Stack />
    <More />
    <Footer />
  </body>
</html>
<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>