@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --white: #fff;
    --light: #f9fafb;
    --dark: #2f2831;
    --dark-hover: #1f1821;
    --mid: #eaeef2;
    --mid-blue: #607288;
    --gradient-blue: hsla(151.9, 100%, 49.4%, 0.85);
    --gradient-green: hsl(196.8, 77.8%, 47.6%);
    --gradient-overlay-blue: hsl(166, 68.8%, 42.7%);
    --gradient-overlay-green: hsla(202.5, 76.7%, 47.1%, 0.74);
    --gradient: linear-gradient(var(--gradient-blue), var(--gradient-green));
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--light);
    font-family: 'Rubik', sans-serif;
    font-size: 1.1rem;
}

.header {
    display: block;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,.06);
    background: var(--white);
    font-size: 1.1rem;
    padding: 1.75em 0;
    position: relative;
    z-index: 10;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.nav__list span {
    color: #66c1e1;
}

.nav__link {
    text-decoration: none;
    margin: 0 5em;
    color: rgb(10, 109, 109);
}

.nav__link:not(:first-child):hover {
    color: #66c1e1;
}

.nav__link:first-child {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.hero {
    margin-bottom: 1rem;
}

.projects {
    padding-bottom: 2rem;
}

.hero,
.projects {
    position: relative;
    text-align: center;
    box-shadow: 2px 4px rgba(0, 0, 0, .03);
}

.hero__wrap,
.projects__wrap {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background: var(--light);
}

.intro__content,
.projects__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.65em 0;
}

.intro__content p {
    margin: 0 0 1.2em;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    line-height: 2.5rem;
}

.intro__title {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: #66c1e1;
}

.intro__img {
    display: block;
    background: var(--gradient);
    margin: 0 auto 20px;
    max-width: 461px;
    padding: 18px;
}

.img__cover {
    position: relative;
    box-shadow: 0 0 30px rgba(0,0,0,.15); 
}

.img__cover img {
    filter: saturate(0);
    width: 100%;
    display: block;
    height: auto;
    border: none;
}

.img__cover::after {
    position: absolute;
    content: '';
    opacity: 0.4;
    background-image: linear-gradient(90deg,var(--gradient-overlay-blue),var(--gradient-overlay-green));
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.img__cover::after {
    mix-blend-mode:screen;
    opacity:1;
}

.wrapper__projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    padding-bottom: 1.65em;
    pointer-events: none;
}

.projects__cover {
    display: block;
    background: #eaeef2;
    transition: all 300ms ease;
    box-shadow: 0 0 30px rgba(255, 44, 220, 0.1);
    pointer-events: auto;
}

.img__frame {
    position: relative;
}

.projects__cover img {
    object-fit: cover;
    width: 100%;
    display: block;
    height: auto;
    border: none;
}

/* .project__stack {
    display: none;
} */

.project__stack a {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 200ms ease-in;
}

.mobile__hidden {
    display: none;
}

.project__stack a:hover {
    box-shadow: inset 0 3px 0 rgb(10, 109, 109);
}

.project__info {
    text-align: start;
    padding: 2rem;
}

.project__title {
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
}

.project__description {
    font-weight: 400;
    font-size: 1rem;
}

/* Stack */

.stack {
    background: #21ddae60;
}

.stack__wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
}

.tech__title {
    transition: all 300ms ease;
    font-weight: 500;
    opacity: 0;
    font-size: 0%;
    margin: 0;
}

.tech__img {
    width: 100%;
    display: block;
    height: auto;
    background: #66c0e1b4;
    border-radius: 50%;
}

/* Footer */

footer {
    display: block;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,.06);
    background: var(--white);
    font-size: 1.1rem;
    padding: 1.75em 0;
    position: relative;
    z-index: 10;
}

/* Other Projects */

.other__projects {
    padding-bottom: 4rem;
}

.other__projects h3 {
    text-align: center;
}

.projects__more {
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
    color: #105f7c;
}

.projects__more:hover {
    color: #66c1e1;
}

.more__stack {
    display: flex;
    justify-content: center;
}

.more__stack p {
    border: 2px solid;
    padding: 0.5rem 0.8rem;
    color: #105f7c;
    font-size: 80%;
}

.more__stack p:not(:last-child) {
    margin-right: 1rem;
}


@media(min-width: 1050px) {
    .nav__list,
    .hero__wrap {
        width: 90%;
    }

    .nav__list {
        width: 100%;
    }

    .nav__link {
        margin-left: 40px;
    }

    .hero::after {
        background: var(--gradient);
        position: absolute;
        content: '';
        height: 100%;
        z-index: -1;
        width: 50%;
        left: 0;
        top: 0; 
    }

    .hero__wrap {
        width: 100%;
        display: flex;
        padding: 0;
        justify-content: space-between;
        align-items: stretch;
        overflow: hidden;
    }

    .intro__content {
        --push: 8rem;
        text-align: left;
        padding: 3.5em 0 3.5em 20px;
        max-width: 700px;
        width: 55%;
        margin: 0 auto 0 var(--push);
        position: relative;
        z-index: 1;
    }

    .intro__title {
        text-align: inherit;
    }

    /* .intro__content::before {
        position: absolute;
        content: '';
        height: 100%;
        z-index: 0;
        width: 100px;
        right: calc(100% + var(--push));
        top: 0;
    } */

    .intro__img {
        background-image: linear-gradient(to left,#f9fafb,rgba(249,250,251,0)),var(--gradient);
        background-size: 200px 100%,auto;
        background-repeat: no-repeat, repeat-x;
        background-position: 100% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: -1;
        width: 340px;
        max-width: none;
        margin: 0;
        z-index:2;
    }

    .img__cover {
        transform: translateX(-25px) scale(0.875);
        width: 460px;
        max-width: none;
    }

    .project__stack {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0; /* off */
        transition: all 150ms ease-in;
    }

    .project__stack a {
        position: relative;
        opacity: 1;
        font-weight: bold;
        color: rgb(10, 109, 109);
        font-size: 1rem;
        background: rgba(255, 255, 255, 0.836);
        text-decoration: none;
        padding: 1rem;
    }

    .mobile__hidden {
        display: block;
    }

    .project__stack:hover {
        opacity: 1;
    }

    .tech:hover .tech__title {
        opacity: 1;
        margin: 1rem;
        font-size: 85%;
    }

    .other__projects h3 {
        text-align: start;
    }
}

@media(min-width: 800px) {
    .projects__cover:hover {
        transform: scale(1.05);
    }
    
    .wrapper__projects:hover>:not(:hover) {
        opacity: 0.3;
    }

    .wrapper__projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .tech {
        width: 6rem;
    }

    .more__stack {
        justify-content: start;
    }
}

@media(min-width: 500px) {
    .nav__link:first-child {
        margin: 0 auto 0 0;
        padding: 0;
    }

    .nav__list {
        justify-content: flex-end;
    }

    .nav__link {
        margin: 0 0 0 2rem;
    }   

    .tech {
        width: 5.5rem;
    }
}


/* Formulario */

#form-container {
    cursor: pointer;
    color: #fff;
    z-index: 1000;
    position: fixed;
    margin: 0 auto;
    right: 1.1vw;
    bottom: 2vh;
    background-image: linear-gradient(to right top, #24f499, #00e5be, #00d2d6, #00bede, #1ca8d5);
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    max-width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
}

#form-container.expand {
    cursor: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.17);
    border-radius: 0;
    width: 70%;
    height: 610px;
    max-width: 550px;
    padding: 0;
    transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
}
  
#form-close {
    cursor: pointer;
}

.icon::before {
    cursor: pointer;
    font-size: 30px;
    line-height: 60px;
    display: block;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
  
.icon:hover::before {
    animation: wiggle 0.5s linear infinite;
}

.fa-envelope::before {
    display: block;
}

.fa-close::before {
    display: none;
}

.expand.fa-envelope::before {
    display: none;
}

.expand.fa-close::before {
    display: block;
    animation: none;
}

#form-content {
    font-family: Roboto, sans-serif;
    transform: translateY(150%);
    width: 100%;
    opacity: 0;
    text-align: left;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s;
}

#form-content.expand {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s;
}

#form-content form {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: left;
}

#form-head {
    font-size: 100%;
    padding: 0;
    margin: 0 20px;
    color: #fff;
    text-align: center;
    transition: all 0.8s 0.6s;
}

#form-head h1, #form-head p {
    padding: 0;
    margin: 0;
}

#form-head h1 {
    font-weight: bold;
    font-size: 3em;
}

#form-head p {
    margin: 8px 0;
}

#form-head .pre {
    display: block;
}
  
#form-head .post {
    display: none;
}
  
.form-submitted#form-head {
    transform: translateY(250%);
}
  
.form-submitted#form-head .pre {
    display: none;
}
  
.form-submitted#form-head .post {
    display: block;
}
  
.input {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    border-width: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: none;
    transform: translateX(0);
}
  
::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
}
  /* Firefox 18- */
:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
}
  /* Firefox 19+ */
::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
}
  /* IE 10+ */
:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
}
  /* Edge */
::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
}
  /* Default */
:placeholder-shown {
    color: rgba(255, 255, 255, 0.8);
    font-size: 90%;
}
  
input, select, textarea {
    color: #fff;
}
  
.input.message {
    resize: none;
    height: 150px;
    padding: 10px;
}
  
.input.submit {
    background-color: #fff;
    color: #1ec9bc;
    font-size: 120%;
    font-weight: 500;
    height: 80px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.1s, transform 0s 0.6s;
}
  
.input.submit:active {
    margin-top: 15px;
    box-shadow: 0 0 rgba(0, 0, 0, 0.5);
}
  
.input.form-error {
    animation: error 0.8s ease;
    background: rgba(0, 0, 0, 0.7);
}

select option {
    background: #20a8da;
    color: #fff;
    border: none;
    box-shadow: none;
    outline: none;
}
  
select option:disabled {
    font-style: italic;
    color: rgba(255, 255, 255, 0.9);
    font-size: 90%;
}
  
.input {
    transition: transform 0s 1s;
    font-family: 'Rubik', sans-serif;
}
  
.form-submitted .input {
    transform: translateX(150%);
    opacity: 0;
    transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
  
.form-submitted .input:nth-child(1) {
    transition-delay: 0.1s;
}
  
.form-submitted .input:nth-child(2) {
    transition-delay: 0.2s;
}
  
.form-submitted .input:nth-child(3) {
    transition-delay: 0.3s;
}
  
.form-submitted .input:nth-child(4) {
    transition-delay: 0.4s;
}
  
.form-submitted .input:nth-child(5) {
    transition-delay: 0.5s;
}
  /* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  } */

@media (max-width: 600px) {
    #form-container.expand {
      height: 100%;
      width: 100%;
      max-width: 100%;
      overflow: initial;
      overflow-x: hidden;
      bottom: 0;
    }

    h1 {
      font-size: 300%;
    }

    .icon:hover::before {
      animation: none;
    }
    
    .form-overlay {
      display: none;
      transition: none;
    }
}

@keyframes error {
    0%, 100% {
      transform: translateX(0);
}
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-6px);
}
    20%, 40%, 60%, 80% {
      transform: translateX(6px);
    }
}

  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
}