---

---
<style lang='scss'>
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    // background: var(--light);
    .container {
      h3 {
        text-align: center;
      }
      a {
        display: inline-block;
        font-size: .95rem;
        text-decoration: none;
        color: var(--light-blue);
        &:hover {
          color: #66c1e1;
        }
      }
      .stack {
        display: flex;
        justify-content: center;
        p {
          border: 2px solid;
          padding: 0.5rem 0.8rem;
          font-weight: 500;
          font-size: 80%;
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  @media(min-width: 960px) {
    section {
      .title h2 {
        text-align: inherit;
      }
      .container {
        h3 {
          text-align: start;
        }
        .stack {
          justify-content: start;
        }
      }
    }
  }
</style>
<section>
  <div class='title'>
    <h2 class='gradient'>Otros Proyectos</h2>
  </div>
  <div class='container'>
    <h3>Blur image loader</h3>
    <p>
      Intento de replicar feature de Next.js
      <a href='https://image-component.nextjs.gallery' target='_blank' rel='noopener'>
        blur-up placeholder
      </a>
      mientras carga la resolución de imagen
      <a href='https://sexy-image-blur-loader.netlify.app/' target='_blank' rel='noopener'>
        Ver más...
      </a>
    </p>
    <div class='stack'>
      <p class='gradient'>React</p>
      <p class='gradient'>Vite</p>
    </div>
  </div>
  <div class='container'>
    <h3>Mixin Feelings</h3>
    <p>
      Proyecto para Hackathon de Co:Here. IA la cual clasifica tus sentimientos, y te entrega resultados de playlists de Spotify según tu estado de ánimo.
      <a href='https://mixin-feelings.vercel.app/' target='_blank' rel='noopener'>
        Ver más...
      </a>
    </p>
    <div class='stack'>
      <p class='gradient'>Astro</p>
      <p class='gradient'>Supabase</p>
    </div>
  </div>
</section>