---

---
<style lang='scss'>
  section {
    background: #21ddae60;
    ul {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      gap: 3rem;
      width: 80%;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      height: 50vh;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 3rem;
        img {
          width: 100%;
          display: block;
          height: auto;
          background: var(--light-blue);
          border-radius: 9999px;
        }
        h3 {
          transition: all 300ms ease;
          font-weight: 500;
          opacity: 0;
          font-size: 0%;
          margin: 0;
        }
      }
    } 
  }

  @media (prefers-color-scheme: dark) {
    section {
      background: #1f2e4d;
    }
  }

  @media(min-width: 960px) {
    section {
      ul {
        li {
          width: 5rem;
          &:hover h3 {
            opacity: 1;
            margin: 1rem;
            font-size: 85%;
          }
        }
      }
    }
  }
</style>
<section>
  <ul>
    <li>
      <img class='gradient' src='/assets/html5.svg' alt='html' />
      <h3>HTML</h3>
    </li>
    <li>
      <img src='/assets/css.svg' alt='css' />
      <h3>CSS</h3>
     </li>
     <li>
      <img src='/assets/sass.svg' alt='sass' />
      <h3>SASS</h3>
    </li>
    <li>
      <img src='/assets/javascript.svg' alt='javascript' />
      <h3>JavaScript</h3>
    </li>
    <li>
      <img src='/assets/react.svg' alt='react' />
      <h3>ReactJS</h3>
    </li>
    <li>
      <img src='/assets/git.svg' alt='git' />
      <h3>Git</h3>
    </li>
    <li>
      <img src='/assets/github.svg' alt='github' />
      <h3>GitHub</h3>
    </li>
  </ul>
</section>
<script>
  const $$ = selector => document.querySelectorAll(selector)

  const canvasConfetti = async () => {
    //@ts-ignore
    const module = await import('https://cdn.skypack.dev/canvas-confetti')
    return module.default()
  }

  $$('li').forEach(el => {
    el.addEventListener('click', () => {
      canvasConfetti()
    })
  })
</script>